doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
  body
    header
      .container
        .col16
          .logo
            a(href="#") PeerLibrary
          ul.top-menu
            li.search
              span.label Search for publications, authors or keywords
                span.cursor
              .search-form
                form(action='')#search
                  input(type='text', name='q', autocompleteOff).search-input
                  input(type='hidden', name='ie', value='UTF-8')
                  span.search-button
                    i.icon-search
            script(type='text/javascript')
              $('.searchbutton').click(function(){
              });
              $(document).click(function(){
                $('.top-menu .search').removeClass('selected');
                $('li.explore').fadeIn(200);
              });
              $('.top-menu .search').click(function(e){

                $(this).addClass('selected');
                $('.search-input').focus();
                $('li.explore').hide()
                e.stopPropagation();
              });
            li.explore
              a(href='#') Explore
    block content