@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import 'glyph.css';
html,button,input,select,textarea{color:#222}
body{font:14px "PT Sans",sans-serif;margin:0 auto;background:#f6f8f8}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #dee7e9;margin:1em 0;padding:0}
img{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
.chromeframe{margin:.2em 0;background:#dee7e9;color:#000;padding:.2em 0}
a{color:#00b7ff;text-decoration:none}
input{font-family:"PT Sans",sans-serif;outline:none}
header{background:#338ed5;height:45px;font-size:16px}
.logo{width:145px;float:left;margin-right:20px}
.logo a{color:#fff;text-decoration:none;line-height:45px;font-size:22px;font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;background:transparent;display:inline-block;padding:0 20px;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;-ms-transition:.2s;transition:.2s}
.logo a:hover{background:#2270ab}
ul.top-menu{list-style:none;padding:0;margin:0;color:#fff}
ul.top-menu li{display:block;float:left;line-height:45px}
ul.top-menu li a{color:#fff;display:block;padding:0 20px;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;-ms-transition:.2s;transition:.2s}
ul.top-menu li.search{padding:0 20px;cursor:pointer;width:310px;-webkit-transition:.2s;-moz-transition:.2s;-o-transition:.2s;-ms-transition:.2s;transition:.2s}
ul.top-menu li.search .search-form{display:none}
ul.top-menu li.search .search-form input{background:transparent;border:0;color:#2270ab;font-size:18px;width:390px;display:inline}
ul.top-menu li.selected{width:420px;background:#fff}
ul.top-menu li.selected span.label{display:none}
ul.top-menu li.selected .search-form{white-space:nowrap;display:inline}
ul.top-menu li span.search-button{color:#2270ab;border:none;display:inline;position:relative;right:-10px}
ul.top-menu li a:hover,ul.top-menu li.search:hover{background:#fff;color:#2270ab}
span.cursor{-webkit-animation:blink 1s linear 0 infinite;-moz-animation:blink 1s linear 0 infinite;-o-animation:blink 1s linear 0 infinite;-ms-animation:blink 1s linear 0 infinite;animation:blink 1s linear 0 infinite;display:inline-block;width:1px;height:23px;background:#2270ab;position:relative;top:6px;visibility:hidden;margin-left:2px}
@-webkit-keyframes blink{0%{opacity:1;-ms-filter:none;filter:none}
47%{opacity:1;-ms-filter:none;filter:none}
50%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
97%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
100%{opacity:1;-ms-filter:none;filter:none}
}@-moz-keyframes blink{0%{opacity:1;-ms-filter:none;filter:none}
47%{opacity:1;-ms-filter:none;filter:none}
50%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
97%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
100%{opacity:1;-ms-filter:none;filter:none}
}@-ms-keyframes blink{0%{opacity:1;-ms-filter:none;filter:none}
47%{opacity:1;-ms-filter:none;filter:none}
50%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
97%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
100%{opacity:1;-ms-filter:none;filter:none}
}@-o-keyframes blink{0%{opacity:1;-ms-filter:none;filter:none}
47%{opacity:1;-ms-filter:none;filter:none}
50%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
97%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
100%{opacity:1;-ms-filter:none;filter:none}
}ul.top-menu li.search:hover span.cursor{visibility:visible}
